@model Tuple<List<OrderItemViewModel>, OrderViewModel>
@{
    ViewData["Title"] = "سبد خرید";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main class="item-section font p-3">
    <div class="container mb-4 mt-120">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-light table-hover">
                        <thead>
                            <tr>
                                <th scope="col">نام سالن </th>
                                <th scope="col">از ساعت </th>
                                <th scope="col" class="text-center">تا ساعت</th>
                                <th scope="col" class="text-center">تاریخ</th>
                                <th scope="col" class="text-right">قیمت</th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Item1)
                            {
                                <tr id="card_@item.Id">
                                    <td style="vertical-align: middle">@item.ReserveName</td>
                                    <td style="vertical-align: middle">@item.Start</td>
                                    <td style="vertical-align: middle">@item.End</td>
                                    <td style="vertical-align: middle">@item.TimeDay</td>
                                    <td class="text-right" style="vertical-align: middle"> @item.Price.ToString("#,0") تومان</td>
                                    <td class="text-right" style="vertical-align: middle"><button class="btn btn-sm btn-danger" onclick="RemoveItemCart('@item.Id')"><i class="fa fa-trash"></i></button> </td>
                                </tr>
                            }
                            <tr>
                                <td colspan="5">شماره فاکتور</td>
                                <td class="text-right">@Model.Item2.OrderCode</td>
                            </tr>
                            <tr>
                                <td colspan="5">جمع کل </td>
                                <td class="text-right">تومان @Model.Item2.OrderPrice.ToString("#,0")</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col mb-2">
                <div class="row">
                    <div class="col-sm-12  col-md-6">
                        <a href="/Reserves" class="btn btn-block btn-light h-100 d-flex justify-content-center align-items-center">رزرو سانس های دیگر </a>
                    </div>
                    <div class="col-sm-12 col-md-6 text-right d-flex">
                        <a asp-controller="Order" asp-action="Payment" class="btn btn-lg btn-block btn-success text-uppercase w-50 ml-1 @((ViewBag.OrderCount==0)?"disabled":"")">پرداخت از زرین پال</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
@section Scripts{
    <script>
        function RemoveItemCart(id) {
            Swal.fire({
                title: 'آیا از سبد خرید پاک شود؟',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: 'لغو',
                confirmButtonText: 'پاک کردن'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.get("/UserCart/Remove/" + id);
                    $("#card_" + id).hide('slow');
                    Swal.fire(
                        'پاک شد',
                        'از سبد خرید پاک شد',
                        'success'
                    ); 
                }
            });
        }
    </script>
}

