@model Tuple<List<UserViewModel>, int, int>
@{
    ViewData["Title"] = "کاربران";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">لیست کاربران </h6>
                <div class="row justify-content-between">
                    <div class="col-md-6 mb-1 mb-md-0">
                        <a href="/Admin/User/Create" class="btn text-white btn-success">افزودن</a>
                    </div>
                    <form class="col-md-4 position-relative" asp-controller="User" asp-action="Index" method="get">



                        <input name="search" class="form-control mr-auto" placeholder="جستجو کاربران..." style="padding-left: 65px">
                        <button type="submit" class="btn btn-primary ml-2 position-absolute" style="left: 5px; top: 0; height: 100%; border-radius: 2px;">
                            ثبت
                        </button>


                    </form>

                </div>
                <div class="table-responsive pt-3">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    تصویر
                                </th>

                                <th>
                                    نام کاربر
                                </th>
                                <th>
                                    نقش کاربر
                                </th>
                                <th>
                                    شماره موبایل
                                </th>
                                <th>
                                    تاریخ ثبت نام
                                </th>
                                <th>
                                    فعالسازی
                                </th>
                                <th>
                                    عملیات
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Item1)
                            {
                                <tr id="item_@item.UserId">
                                    <td>
                                        <img src="~/Images/@item.UserImage" class="img-fluid img-thumbnail" width="50" height="50" />
                                    </td>
                                    <td>
                                        @item.UserName
                                    </td>
                                    <td>
                                        @item.Role
                                    </td>
                                    <td>@item.PhoneNumber</td>
                                    <td>@item.RegisterDate</td>
                                    <td>
                                        @if (item.IsActive)
                                        {
                                            <span class="badge badge-success">فعال شده</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-danger">غیر فعال</span>
                                        }
                                    </td>
                                    <td>
                                        <div class="dropdown mb-2">
                                            <button class="btn p-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal icon-lg text-muted pb-3px"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item d-flex align-items-center" href="/Admin/User/Edit/@item.UserId">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 icon-sm ml-2"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg> <span class="">ویرایش</span>
                                                </a>
                                                <a class="dropdown-item d-flex align-items-center" href="/Admin/User/Wallet/@item.UserId">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-credit-card icon-sm ml-2"><rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect><line x1="1" y1="10" x2="23" y2="10"></line></svg><span class="">کیف کاربر</span>
                                                    </a>

                                                <button onclick="RemoveUser('@item.UserId')" class="dropdown-item d-flex align-items-center"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash icon-sm ml-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg> <span class="">حذف</span></button>
                                          
                                                </div>
                                          
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @if (Model.Item2 > 1)
                    {
                        <div class="dataTables_paginate paging_simple_numbers py-3 d-flex justify-content-center" id="dataTableExample_paginate">
                            <ul class="pagination">
                                <li class="paginate_button page-item previous @((Model.Item3-1 == 0) ? "disabled" : "")" id="dataTableExample_previous">
                                    <a href="/Admin/User?page=@(Model.Item3-1)&search=@ViewBag.Search" aria-controls="dataTableExample" data-dt-idx="0" tabindex="0" class="page-link">قبلی</a>
                                </li>
                                @for (int i = 1; i <= (Model.Item2); i++)
                                {
                                    <li class="paginate_button page-item @(Model.Item3==i?"active":"")">
                                        <a href="/Admin/User?page=@i&search=@ViewBag.Search" aria-controls="dataTableExample" data-dt-idx="1" tabindex="0" class="page-link">@i</a>
                                    </li>
                                }
                                <li class="paginate_button page-item @((Model.Item3+1 > Model.Item2) ? "disabled" : "")" id="dataTableExample_next">
                                    <a href="/Admin/User?page=@(Model.Item3+1)&search=@ViewBag.Search" aria-controls="dataTableExample" data-dt-idx="4" tabindex="0" class="page-link">بعدی</a>
                                </li>
                            </ul>
                        </div>
                    }
                </div>
                <a class="d-inline-block mt-4 text-black" href="/admin/User/Trash">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2">
                        <polyline points="3 6 5 6 21 6"></polyline>
                        <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                        <line x1="10" y1="11" x2="10" y2="17"></line>
                        <line x1="14" y1="11" x2="14" y2="17"></line>
                    </svg>
                    حذفیات
                </a>
            </div>
        </div>
    </div>
</div>
