@model IEnumerable<ShowOrderListViewModel>
@{
    ViewData["Title"] = "جزئیات فاکتور";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-12 card text-white bg-primary mt-3">
                <div class="card-header"><strong>نام مجموعه:</strong>@item.CollectionName</div>
                <div class="card-body">
                    <h5 class="card-title text-white"><strong>تاریخ سانس:</strong>@item.DayTime</h5>
                    <span><strong>کد سانس:</strong>@item.Code</span><br/>

                    <span><strong>ساعت شروع:</strong>@item.StartTime</span><br />
                    <span><strong>ساعت اتمام:</strong>@item.EndTime</span><br />
                    <span><strong>هزینه سانس:</strong>@item.Price</span><small>تومان</small><hr />
                    <span><strong>شماره مجموعه:</strong>@item.CollectionNumber</span>  <br /> 
                    <span><strong>نشانی مجموعه:</strong>@item.CollectionAddress</span>
                </div>
            </div>
        }
    </div>
</div>