@model Tuple<List<ContactsViewModel>, int, int>

@{
    ViewData["Title"] = "پیام ها";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">لیست پیام ها </h6>
                <div class="row justify-content-between">

                    <form class="col-md-4 position-relative" asp-controller="General" asp-action="Contact" method="get">



                        <input name="search" class="form-control mr-auto" placeholder="جستجو  پیام ها..." style="padding-left: 65px">
                        <button type="submit" class="btn btn-primary ml-2 position-absolute" style="left: 5px; top: 0; height: 100%; border-radius: 2px;">
                            ثبت
                        </button>


                    </form>

                </div>
                <div class="table-responsive pt-3">
                    <table class="table table-bordered">
                        <thead>
                        <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending">نام و نام خانوادگی</th>
                            <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending">شماره تماس</th>
                            <th>گزینه ها</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.Item1)
                        {
                            <tr role="row" id="card_@item.Id" class="odd">

                                <td class="text-center" style="vertical-align: middle">
                                    @item.ContactName
                                </td>
                                <td class="text-center" style="vertical-align: middle">
                                    @item.ContactNumber
                                </td>

                                <td class="text-center" style="vertical-align: middle">
                                    <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">مشاهده پیام</a>
                                    <div class="col">
                                        <div class="collapse multi-collapse mt-2" id="multiCollapseExample1">
                                            <div class="card card-body">

                                                <p>  @item.ContactBody</p>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                    @if (Model.Item2 > 1)
                    {
                        <div class="dataTables_paginate paging_simple_numbers py-3 d-flex justify-content-center" id="dataTableExample_paginate">
                            <ul class="pagination pagination-sm m-0 float-right">
                                <li class="page-item  @((Model.Item3-1 == 0) ? "disabled" : "")"><a class="page-link" href="/AdminPanel/Contact?search=@(ViewBag.search)&pageNumber=@(Model.Item3-1)">«</a></li>
                                @for (int i = 1; i <= (Model.Item2); i++)
                                {
                                    <li class="page-item @(Model.Item3==i?"active":"")"><a class="page-link" href="/AdminPanel/Contact?search=@(ViewBag.search)&pageNumber=@i">@i</a></li>
                                }

                                <li class="page-item @((Model.Item3+1 > Model.Item2) ? "disabled" : "")"><a class="page-link" href="/AdminPanel/Contact?search=@(ViewBag.search)&pageNumber=@(Model.Item3+1)">»</a></li>
                            </ul>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>
