@model FooterViewModel

<footer class="page-footer font-small bg-primary  pt-4 mt-5">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 mx-auto">

                <!-- Content -->
                <h5 class="font-weight-bold font text-uppercase mt-3 mb-4">سامانه ورزشی رزرو اسپرت</h5>
                <p>
                   @Model.About
                </p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">
                <a href="@Model.Namad">
                    <img class="rounded" src="/Images/namad.jpg" width="150" height="170">

                </a>
                </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase font mt-3 mb-4">با رزرو اسپرت</h5>

                <ul class="list-unstyled">
                    <li>
                        <a class="font" href="/Contact">ارتباط با ما</a>
                    </li>
                    <li>
                        <a class="font" href="/About">درباره ما</a>
                    </li>
                    <li>
                        <a class="font" href="/complaint">ثبت شکایت</a>
                    </li>

                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase font mt-3 mb-4">سایر بخش ها</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="/Collections" class="font">مجموعه ها</a>
                    </li>
                    <li>
                        <a href="/articles" class="font">مقالات</a>
                    </li>
                    <li>
                        <a href="/QuickReserve" class="font">رزرو سریع</a>
                    </li>

                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->


    <hr>

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
            <a href="@Model.WhatsApp" class="btn-floating btn-success mx-1 waves-effect waves-light">
                <i class="fab fa-whatsapp"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="@Model.Instagram" class="btn-floating btn-secondary mx-1 waves-effect waves-light">
                <i class="fab fa-instagram"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="@Model.YouTube" class="btn-floating btn-danger mx-1 waves-effect waves-light">
                <i class="fab fa-youtube"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="@Model.Telegram" class="btn-floating btn-info mx-1 waves-effect waves-light">
                <i class="fab fa-telegram"> </i>
            </a>
        </li>

    </ul>
    <!-- Social buttons -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        <a href="https://darnogroup.ir/" class="font">

            طراحی و توسعه گروه فنی و مهندسی دارنو
        </a>
    </div>
    <!-- Copyright -->

</footer>